<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>E-Auction | Sign Up</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="signup-container">
    <div class="signup-card">
        <h2>Create Account</h2>
        <div class="subtitle">Create an account to start participating in auctions</div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="signup-btn">Sign Up</button>
        </form>

        
    </div>
</div>

</body>
</html>